<!DOCTYPE html>
<html>
<head>
	<title>WE ARE ALL SLUTS</title>
  <link rel="stylesheet" type="text/css" href="css/styles.css" />
  <style type="text/css">
    html { height: 100% }
    body { height: 99%; margin: 0; padding: 0; background-color:#f6f2c1; }
  </style>
</head>

<body>
  <div class="content">
  	<div><img src="images/title.png"></div>
  	<div class="text">
      <br><p><em><strong>2022 note:</strong> This site is a re-creation of a project by media artist <a class="updateLinks" target="_blank" href="https://roopavasudevan.com">Roopa Vasudevan</a>. Originally launched in April 2012 as an anonymous collective storytelling project, the website went viral in the first few months of its release and amassed close to 9,000 responses from birth control advocates all over the country (and the world). You can read press coverage from 2012 in </em>Slate <em>(<a class="updateLinks" href="https://slate.com/human-interest/2012/04/sluts-across-america-reclaiming-a-dirty-word.html">here</a> and <a class="updateLinks" href="https://slate.com/human-interest/2012/04/sluts-across-america-doesnt-reclaim-the-word-slut-it-makes-it-meaningless.html">here</a>),</em> <a class="updateLinks" href="https://www.good.is/articles/take-it-back-5-steps-to-reclaim-a-dirty-name">GOOD</a><em>, and <a class="updateLinks" href="https://www.newyorker.com/news/daily-comment/how-to-insult-your-political-opponents">the</em> New Yorker <em>blog</a>.</p> <p>This version of the site stays as true to the 2012 version as possible, while migrating the codebase from Ruby to Node.js and updating certain aspects to account for changing Web standards over the past 10 years. As in 2012, the site is best viewed in desktop mode. If you’re interested in viewing the project code, the original is available <a class="updateLinks" href="https://github.com/rouxpz/sluts_across_america">here</a> and the updated version is available <a class="updateLinks" href="https://github.com/rouxpz/saa_v2">here</a>.</em></p><br>
      <p><h2><em><u>About this Project</u></em></h2></p>
      <p><h3>Birth control is under attack in the United States.</h3></p>
  		<p>Conservative members of our government and society have launched what is essentially a war on reproductive rights.  They have made attempt after attempt to limit the availability of essential services to women, men, and families who need access to them to live healthy, productive lives.</p>
  		<p>They have also repeatedly made judgment calls on those of us who do choose to use birth control -- calling our morals and values into question and referring to us as sluts, whores, and other derogatory names -- without even trying to understand that the use of birth control represents an awareness of our individual responsibility to do whatever we can to protect our health, and to ensure that the children we bring into this world are born into families who have the resources and ability to take care of them.</p>
  		<p>"Sluts Across America" is the collective voice of the women and men in this country who use or support birth control, and are sick of being judged because of our desire to be responsible and safe about our sexual health.  If protecting ourselves makes us sluts, then it's time to redefine what "slut" actually means.</p>
  		<p><em><strong>On Sandra Fluke's congressional testimony in support of contraception:</strong></em></br>
  "		<strong>It makes her a slut, right?</strong>  It makes her a prostitute.  She wants to be paid to have sex.  She's having so much sex she can't afford the contraception.  She wants you and me and the taxpayers to pay her to have sex."</br>
  		<strong>- Rush Limbaugh</strong></p>
      <p><h2><em><u>Donate</u></em></h2></p>
  		<p>If you wish to contribute to organizations providing access to birth control and reproductive health care, you can contact:</p>
  		<p><a href="https://secure.ppaction.org/site/SPageServer?pagename=pp_ppol_Nondirected_OneTimeGift">Planned Parenthood Federation of America</a></br>
  		<a href="https://www.nationalfamilyplanning.org/sslpage.aspx?pid=389">National Family Planning & Reproductive Health Association</a></p>
  		<p><h2><em><u>Contact Your Legislators</u></em></h2></p>
  		<p><a href="https://writerep.house.gov/writerep/welcome.shtml">Contact Your Representative</a></br>
  			<a href="http://www.senate.gov/general/contact_information/senators_cfm.cfm">Contact Your Senator</a>
  	</div>
  	<div class="page_gfx">
      <a class="linkImg" href="../"><img src="images/home.png"></a>
      <a class="linkImg" href="https://roopavasudevan.com"><img src="images/contact.png"></a>
  </div>
</body>
