<!DOCTYPE html>
<html>
<head>
	<title>WE ARE ALL SLUTS</title>
  <link rel="stylesheet" type="text/css" href="css/styles.css" />
  <style type="text/css">
    html { height: 100% }
    body { height: 99%; margin: 0; padding: 0 }
    #map_canvas { height: 100% }
  </style>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>

  <script type="text/javascript" src="javascript/oms.min.js"></script>
  <script type="text/javascript">

			// let map;
			//
			// async function initMap() {
			// 	const { Map } = await google.maps.importLibrary("maps");
			// 	map = new Map(document.getElementById("map_canvas"), {
			// 		center: { lat: 38.4230, lng: -98.7372 },
			// 		zoom: 4.7,
			// 	});
			// }
			//
			// initMap();


//OLD CODE TO DRAW FROM
    let map;
		var geocoder;
		var marker;
		var image = 'images/mudflap.png';
		var markersArray = [];
		var infowindow;
		var oms;
		var mapData = [];

		loadData();
		// initialize();

		function initialize() {

	    var latlng = new google.maps.LatLng(38.4230, -98.7372);
	    var mapOptions = {
	      zoom: 4.7,
	      center: latlng
	    }
	    map = new google.maps.Map(document.getElementById('map_canvas'), mapOptions);

			geocoder = new google.maps.Geocoder();

			infowindow = new google.maps.InfoWindow();
			function iwClose() { infowindow.close(); }
      google.maps.event.addListener(map, 'click', iwClose);

			var oms = new OverlappingMarkerSpiderfier(map, {
			  markersWontMove: true,
			  markersWontHide: true,
			  basicFormatEvents: true
			});

			for (var i = 0; i < mapData.length; i ++) {
        (function() {  // make a closure over the marker and marker data
					var content = mapData[i][0];
          var marker = new google.maps.Marker({
            position: new google.maps.LatLng(mapData[i][1], mapData[i][2]),
						icon: image
          });
          google.maps.event.addListener(marker, 'click', iwClose);
          oms.addMarker(marker, function(e) {
						// alert(content);
            infowindow.setContent('<img src= "images/slut.png" width="334" height="49"><p>' + content + '</p>');
						infowindow.setOptions({maxWidth:370});
            infowindow.open(map, marker);
          });
        })();
      }
	  }

		function loadData() {
			<% for (var i = 0; i < data.length; i++)  { %>
					mapData.push(["<%= data[i].statement %>", "<%= data[i].lat %>", "<%= data[i].lng %>"]);
					// console.log(mapData.length);
			<% } %>
		}

		function codeAddress() {
	    var address = document.getElementById("zipcode").value;

			if (address.length == 5 || address.length == 10) {
				if (address.match(/^[0-9-]*$/) != null) {
					address = address + " USA";
				}
			}

	    geocoder.geocode( { 'address': address}, function(results, status) {
	      if (status == google.maps.GeocoderStatus.OK) {
					console.log(results[0].geometry.location);
	        map.setCenter(results[0].geometry.location);
					map.setZoom(12);

					document.getElementById("latlng").value = results[0].geometry.location;
					// console.log("found");
	      } else {
					console.log(e);
				}
	    });
			$('#find').hide();
			$('#captcha').slideDown();
			$('#execute').show();
	  }

  </script>
</head>

<body>
	<% if (!success) { %>
		<script type="text/javascript">
			alert("Sorry, you must contribute a unique message. Please try again.");
		</script>
	<% } %>
  <div class="gfx" id="logo"><a href="/"><img src="images/logo2.png" width="300"></a></div>
  <div class="gfx" id="quote"><img src="images/quote3.png" width="300"></div>
  <div class ="gfx" id="submit">
		<form class="" action="/" method="post">
			<p><label><strong>I'm a slut because... </strong></label></br>
			<textarea name="statement" id="statement" rows="3" cols="32" maxlength="200" placeholder="Why do you use or support birth control? (200 character max.)"></textarea></p>
			<p><label><strong>Where are you? (zip code): </strong></label></br>
			<input type="text" name="zipcode" id="zipcode">
			<input type="hidden" name="latlng" id="latlng" value="">
			<input type="button" id="find" value="Find me!" onclick="codeAddress()">
			<input type="submit" id="execute" value="Submit"></p>
		</form>
  </div>
  <div class="gfx" id="about"><a href="/about"><img src="images/about.png" height="30"></a></div>
  <div class="gfx" id="contact"><a href="https://roopavasudevan.com"><img src="images/contact.png" height="30"></a></div>
  <div id="map_canvas" style="width:72vw; height:93%; left:2%;">
		<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAyoxb6LtRo3PapoE5bDnNecjZaKRfp2pY&callback=initialize"></script>
</body>
</html>
